<header class="yelpheader">Yelp! Fake-ass food from companies that hate you.</header>

<% @restaurants.each do |restaurant| %>

  <ul><%= link_to restaurant.title, restaurant %></ul>

<% end %>





<!-- <ul>
<% @restaurants.each do |restaurant| %>
	<li>
		<h3><%= restaurant.title %></h3>
		<% restaurant.reviews.each do |review| %>
			 Review: <%= review.reviewcontent %>
		 <% end %>
	</li>

	<div class="review">
		<%= form_for [restaurant, Review.new] do |g| %>
			<%= g.label :reviewcontent, "Review:" %>
			<%= g.text_field :reviewcontent %>
			<%= g.label :title, "restaurant"%>
			<%= g.text_field :restaurant_id %>
			<%= g.submit %>
		<% end %>
	</div>
<% end %>
<br>
</ul>
<%= form_for Restaurant.new do |f| %>
	<%= f.text_field :title %>
	<%= f.submit %>
<% end %> -->


