<header class="yelpheader">

	<a href="/">Yelp!</a> Fake-ass food from companies that hate you.</header>

<% @restaurants.each do |restaurant| %>

  <ul><%= link_to restaurant.title, restaurant %></ul>

<% end %>

<div class="create_restaurant">
<%= form_for Restaurant.new do |f| %>
	<% f.label :title %> 
	<%= f.text_field :title, placeholder: 'Restaurant Name' %>

	<%= f.submit %>
<% end %>
</div>

<div class="create_user">

<%= form_for User.new do |new_user| %>

	<% new_user.label :user %>
	<%= new_user.text_field :user, placeholder: 'Enter user name' %>
	<%= new_user.submit %>

<% end %>

</div>




